html, body {
    margin: 0;
    padding: 0;
    overflow-y: hidden;
}

* {
    box-sizing: border-box;
}

/**********************************/
/* Characters initial positioning */
/**********************************/

.characters {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 10rem;
    height: 10rem;
    margin: auto;
}

.characters > * {
    position: absolute;
    bottom: 0;
    left: 0;
}

.donkey {
    transform: translate3d(0, -10%, 0);
}

.man {
    transform: translate3d(10%, -1%, 0) scale(0.6);
}

.saddle {
    transform: translate3d(0%, -49%, 0) scale(0.35);
}

.cow {
    position: absolute;
    bottom: 0;
    width: 7rem;
}

.chicken {
    position: absolute;
    bottom: 0;
    width: 2rem;
}

.sun {
    position: fixed;
    width: 6rem;
    top: 1rem;
    left: calc(50% - 10vmin);
    transform-origin: 0 140vmin;
    transform: rotate3d(0, 0, 1, 11deg);
}

.mountains {
    top: 0;
    left: 0;
    position: absolute;
    width: 1000vw;
    height: 26vh;
    background:
        url("svg/mountains_1.svg") repeat-x center bottom,
        url("svg/mountains_2.svg") repeat-x center bottom,
        url("svg/mountains_3.svg") repeat-x center bottom,
        url("svg/mountains_4.svg") repeat-x center bottom;
}

.floor {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 25vh;
    width: 1000vw;
    background-color: red;
    background:
        url("svg/floor_1.svg"),
        url("svg/floor_2.svg"),
        url("svg/floor_3.svg"),
        url("svg/floor_4.svg");
}

.container {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    overflow-y: hidden;
    overflow-x: scroll;
}

.layer {
    position: absolute;
    width: 1000vw;
    height: 30vh;
    top: calc(70% - 15vh);
    background:
        url("svg/cactus_1.svg") repeat-x,
        url("svg/cactus_2.svg") repeat-x,
        url("svg/cactus_3.svg") repeat-x;
}

.layer.-farthest {
    transform: translate3d(0%, -120%, 0);
    background-position-x: 100vw;
}

.layer.-far {
    transform: translate3d(0%, -100%, 0);
    background-position-x: 200vw;
}

.layer.-close {
    transform: translate3d(0%, -30%, 0);
    background-position-x: 300vw;
}

.layer.-closest {
    transform: translate3d(0%, 30%, 0);
    background-position-x: 400vw;
}

.paper {
    --paper-color: #ff9fb5;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
    background-color: var(--paper-color);
    mix-blend-mode: multiply;
    background-image: url('png/texture.png');
}
