html, body {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

.layer {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    margin: auto;
    display: grid;
    grid-template-areas: "main";
}

.sprite {
    grid-area: main;
    place-self: center;
}

.layer.characters {
    max-width: 50vw;
    width: 20rem;
}

.donkey {
    width: 100%;
}

.man {
    width: 56%;
    transform: translate3d(15%, -23%, 0);
}

.saddle {
    width: 34%;
    transform: translate3d(0%, -13%, 0);
}